<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of the Users</title>
</head>
<body>

<a href="/user">Back to page</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Occupations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td>
            <select>
                <option
                        th:each="occupation : ${user.occupations}"
                        th:text="${occupation.name}"
                        th:value="${occupation.id}"
                ></option>
            </select>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>